h1 
{
	font-size: 400%;
}

p
{
	font-size: 150%;
}

#download-link
{
	font-weight: bold;
	font-size: 200%;
}

#text-cell
{
	text-align: left;
	vertical-align: top;
}

#thumb
{
	width: 10%;
}