body
{
	text-align: center;
	color: white;
	font-family:'Courier New', Courier, monospace;
	background-image: url("./graph/bg.gif");
	font-size: 18px;
}

a
{
	color: yellow;
}

#smol
{
	font-size: 13px;
}
